package ${package}.${moduleName}.dao;

import ${package}.${moduleName}.entity.${className};
import com.lzl.base.IBaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends IBaseMapper<${className}> {
	
}
